<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Leads Manager</a>
    <ul class="nav pull-right">
      <li><a href="/email_histories/new">Email</a> </li>
      <li><a href="/leads">Leads</a></li>
      <li><a href="/email_templates">Templates</a></li>
    </ul>
    </div>
  </div>
</div>
